

*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
}
body{
background-color: rgb(120,28, 120);
}
nav{
display: flex;
justify-content: space-between;
align-items:flex-end;
padding: 1rem;
font-family: sans-serif;
background-color: black;
}
nav {
width: 100%;
}

.nav {
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
background-color:black;
color: #fff;
padding: 1rem;
}

.boton {
display: flex;
}

.boton button {
margin-left: 1rem;
justify-content: left;
background-color:rgb(120,28, 120);
border:none;
padding: 10px 20px;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
transition-duration: 0.8s;
cursor: pointer;
border: 1px solid blue;
border-radius: 50px;
border: inset;
}

button:hover{
background-color:yellow;
color: white;
}

p{
font-size: 30px;
padding: 20px;
}

a.logo{
font-family:Impact;
font-size: 60px;
color: rgb(120,28, 120);
font-size: 50px;
text-decoration: none;
}

logo{
position: absolute;
color: #fff;
display: inline-block;
font-size: 2.1rem;
line-height: 70px;
}

main{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
gap: 18px;
max-width: 100%;
max-height: 100%;
}

article{
border-radius: 0;
-webkit-border-radius:0%;
box-shadow: 0px 0px 15px 15px #ec731e;
-webkit-box-shadow: 0px 0px 15px 15px #ec731e;
transform: rotate(360deg);
-webkit-transform: rotate(360deg);
}

img{
border-radius: 10%;
width: 110%;
height: 90%;
}

article{
padding: 50px;
box-shadow: 20px 20px 20px  goldenrod;
}

footer {
font-size: 20px;
overflow: hidden;
min-height: 100px;
text-align: center;
padding: 70px 0px 0px 0px;
color: white;
background-color:black;
bottom: 0;
width: 100%;
}
.redes{
text-align: center;
padding: 0px 0px 30px 0px;
}
#name{
color: violet;
}
.icon{
max-width: 3%;
max-height: 3%;
height: auto;
width: auto;

}
.icono{
max-width: 3%;
max-height: 3%;
height: auto;
width: auto;

}
.pagination {
display: flex;
justify-content: center;
align-items: center;
}

.prev,
.next {
background-color:black;
border: black;
color: white;
padding: 10px 20px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 40px 20px;
cursor: pointer;
border: 3px solid blue;
border-radius: 50px;
border: inset;
}

.prev:hover,
.next:hover {
background-color:black;

}
.container-paginador{
padding: 75px;
text-align: center;
justify-content: center;
}

/* div {
transition-property: opacity, left;
transition-duration: 3s, 5s, 2s, 1s;
} */
